<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="footer-icons">
          <a href="https://www.facebook.com/ciudadaniai/" target="_blank" class="footer-icon"><i class="fa fa-facebook-f"></i></a>
          <a href="https://www.twitter.com/ciudadania_i" target="_blank" class="footer-icon"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/ciudadaniai/" target="_blank" class="footer-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <ul class="list-inline footer-logo">
          <li class="list-inline-item">
            <div class="text-right">Un proyecto de </div>
          </li>
          <li class="list-inline-item">
            <a href="https://ciudadaniai.org/" target="_blank">

              Project logo

            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 text-right">
        <div class="footer-icons">

	  <a href="mailto:info@ciudadaniai.org" target="_blank" class="footer-icon"><i class="far fa-envelope"></i></a>
          <a href="https://github.com/ciudadanointeligente" target="_blank" class="footer-icon"><i class="fab fa-github"></i></i></a>
          <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank" class="footer-icon"><i class="fab fa-creative-commons"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- script -->

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/timber.master.min.js" | prepend: site.baseurl }}"></script>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");
  alert("Texto copiado " + copyText.value);
}
</script>

<!-- Tooltip -->
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
