<div class="wrapper reveal-side-navigation">
<div class="wrapper-inner">

<!-- Header -->

  <header class="header header-absolute header-fixed-on-mobile" data-sticky-threshold="100" data-bkg-threshold="100">

    <div class="header-inner">
      <div class="row nav-bar">
        <div class="column width-12 nav-bar-inner">
          <a href="index.html">
          <div class="logo">
            <div class="logo-inner">
            <img src="images/logo.svg" alt="Project Logo" />
              <div class="logo-ref">
                de Espacio Público
              </div>
            </div>
          </div>
        </a>


          <nav class="navigation nav-block primary-navigation nav-center">
            <ul>
              <li>
                <a href="index.html">Inicio</a>
              </li>
              <li>
                <a href="repo.html">Repositorio</a>
              </li>
              <li>
                <a href="news.html">Notícias</a>
              </li>
              <li>
                <a href="blog.html">Blog</a>
              </li>
              <li>
                <a href="contact.html">Contacto</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </header>
</div>
</div>
<!-- Header End -->
