---
layout: default
---

<!-- Hero-->
<section id="home" class="section-block featured-media window-height tm-slider-parallax-container">

    <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="960">
        <ul class="tms-slides">
            <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
                <div class="tms-content">
                    <div class="tms-content-inner v-align-middle row">
                        <div class="col-md-8 offset-md-2">
                            <h1 class="tms-caption lspacing-medium mb-20" data-animate-in="preset:slideInRightShort;duration:800ms;delay:400ms;" data-no-scale> <strong>Consulta la información del proceso constituyente</strong></h1>

                            <div class="clear"></div>
                            <div class="clear"></div>

                            <!-- <div class="tms-caption" data-animate-in="preset:scaleIn;duration:900ms;delay:1200ms;" data-no-scale> <a href="https://player.vimeo.com/video/304712391?autoplay=1&title=0&byline=0&portrait=0" class="button border-hover-Transparent color-white color-hover-grey" style="font-size:18px;color:white;border-width:1.5px;" target="_blank">	<span style="font-size:18px;color:white;font-weight:800;" class="icon-play left"></span>Ver video</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Hero-->
